.svn
parules/xls/*.xls
pascripts/serial/*.xml
pascripts/globalxml/*.xml
pascripts/xml/*.xml
pascripts/fw.txt
pascripts/config.txt
pascripts/configlog/*
pascripts/report.txt
pascripts/rules/*.txt
parules/config.txt
