.svn
.creds.env
.DS_Store
parules/xls/*
!pascripts/xls/.gitkeep
pascripts/serial/*
!pascripts/serial/.gitkeep
pascripts/globalxml/*
!pascripts/globalxml/.gitkeep
pascripts/xml/*
!pascripts/xml/.gitkeep
pascripts/fw.txt
pascripts/config.txt
pascripts/configlog/*
!pascripts/configlog/.gitkeep
pascripts/report.txt
pascripts/rules/*
!pascripts/rules/.gitkeep
parules/config.txt
